.slick-prev {
    left: -10 !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #cecec5 !important;
    }
}
.slick-prev:before,
.slick-next:before {
    font-family: FontAwesome !important;
    color: black !important;
}

.slick-next {
    right: 20px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #cecec5 !important;
    }
}
.section-share {
    &.section-specialty {
        background: #f5f5f5;
    }
    &.section-outstanding-doctor {
        background: #f5f5f5;
    }
    &.section-about {
        height: 500px !important;
    }

    .section-body {
        .section-customize {
            .bg-image {
                width: 288px;
                height: 160px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;

                &.section-specialty {
                    background-image: url("../../assets/specialty/co-xuong-khop.jpg");
                }
                &.section-medical-facility {
                    background-image: url("../../assets/medical-facility/lo-go-viet-duc.jpg");
                }
                &.section-outstanding-doctor {
                    background-image: url("../../assets/outstanding-doctor/bsckii-tran-minh-khuyen.jpg");
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handbook {
                    background-image: url("../../assets/handbook/dau-lung-duoi-gan-mong-o-nu.png");
                }
            }
        }
    }
}
.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: auto;
                display: block;
                background: #ebebeb;
                text-transform: uppercase;
                color: black;
                cursor: pointer;
                &:hover {
                    color: #fff;
                    background: #f7d800;
                }
            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .section-customize {
        padding: 5px;
        .customize-border {
            padding: 20px;
            border: #fafaf7 solid;
        }
    }
}

.section-about {
    padding: 0 100px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;

    .section-about-header {
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600px;
    }
    .section-about-content {
        display: flex;
        gap: 15px;
        width: 100%;
        .content-left {
            width: 60%;
        }
        .content-right {
            width: 40%;
            p {
                text-align: left;
                font-size: 16px;
            }
        }
    }
}
.home-footer {
    text-align: center;
    padding-top: 10px;

    a {
        text-decoration: unset;
    }
}
