#tablemanageuser {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tablemanageuser td,
#tablemanageuser th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tablemanageuser tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tablemanageuser tr:hover {
    background-color: #ddd;
}

#tablemanageuser th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}
.btn-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: orange;

    &:hover {
        background-color: transparent !important;
        color: orange !important;
    }
}
.delete-edit {
    width: 50px;
    border: none;
    outline: none;
    background: transparent;
    color: red;

    &:hover {
        background-color: transparent !important;
        color: red !important;
    }
}
